/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #f2f2f2;
  --basic-brown: #766357;
  --accent-color: #81B3D2;
  --slightly-transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-white: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --shadow-black: rgba(0, 1, 1, 0.2);

  --middle-brown: #604E43;
  --dark-brown: #503E33;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;

  --light-grey: #EEEEEE;
  --gallery-grey: #EBEBEB;
  --mercury-grey: #E5E5E5;
  --silver-grey: #CACACA;
  --silver-chalice: #ABABAB;
  --silver-chalice-grey: #A9A9A9;
  --pale-slate-grey: #BDBBBC;
  --submarine-grey: #B6C0C6;
  --dark-grey: #6A6A6A;
  --darkest-grey: #333333;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  text-transform: uppercase;
  color: var(--darkest-grey);
  background-color: var(--basic-grey);

  height: 100%;
}

/* Global */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-nav {
  position: relative;
  z-index: 10;
}

.main-nav__logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__logo:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.logo {
  width: 138px;
  height: 70px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  flex-basis: 240px;
}

.main-nav__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-nav__item:nth-child(4n+1) {
  margin-left: 72px;
}

.main-nav__item:nth-child(4n+3),
.main-nav__item:nth-child(4n+4) {
  text-align: right;
}

.main-nav__item:nth-child(4n+3) {
  margin-left: auto;
}

.main-nav__item:nth-child(4n+4),
.main-nav__item:last-child {
  margin-right: 72px;
}

.main-nav__link {
  color: var(--basic-black);
  font-weight: 700;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__link:active {
  color: var(--transparent-black);
}

.main-nav__link--current,
.main-nav__link--current:hover,
.main-nav__link--current:focus,
.main-nav__link--current:active {
  color: var(--basic-brown);
}

.main-nav__link:focus  {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

/* Main */

.page-main__intro {
  position: relative;

  min-height: 432px;
  padding-top: 77px;

  background-color: var(--submarine-grey);
  background-image: url("../img/bg-intro.jpg");
  background-size: cover;
}

.page-main__intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/bg-intro-mask.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.page-main__welcome {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.page-main__header {
  margin: 0 auto;
  max-width: 520px;
  padding-top: 40px;
  padding-bottom: 50px;

  text-align: center;
}

.page-main__title {
  display: block;
  margin-bottom: 28px;

  font-size: 21px;
  font-weight: 700;

  color: var(--basic-black);
}

/* Features */

.features__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 256px;

  color: var(--basic-white);
  background-color: var(--accent-color);
}

.features__block {
  padding: 47px 49px;
  line-height: 21px;

  text-align: center;
}

.features__block--reverse {
  order: 1;
}

.features__title {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 150px;

  font-size: 21px;
  font-weight: 700;

  color: var(--basic-white);
}

.features__number {
  margin: 0;
  margin-bottom: 23px;
}

.features__text {
  margin: 0;
}

.features__image-block {
  grid-column: 2 / span 2;
}

.features__image-block--reverse {
  grid-column: 1 / span 2;
}

.features__image {
  display: block;
}

.features__blocks--last {
  color: var(--darkest-grey);
  background-color: var(--light-grey);
}

.features__title--last {
  color: var(--basic-black);
}

/* Advices */

.advices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
  list-style: none;
}

.advices__item {
  position: relative;
  padding: 160px 50px 80px;
  line-height: 21px;

  text-align: center;
}

.advices__item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 76px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.advices__item--house::before {
  background-image: url("../img/icons/icon-house.svg");
  background-size: 75px 72px;
}

.advices__item--burger::before {
  background-image: url("../img/icons/icon-burger.svg");
  background-size: 75px 70px;
}

.advices__item--gift::before {
  background-image: url(../img/icons/icon-gift.svg);
  background-size: 64px 76px;
}

.advices__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;

  color: var(--basic-black);
}

.advices__text {
  margin: 0;
}

/* Hotel search */

.hotel-search {
  position:relative;
  z-index: 10;
  margin: 0 auto;
  padding-top: 51px;
  width: 568px;

  text-align: center;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.hotel-search__text {
  margin: 0;
  margin-bottom:  47px;
  line-height: 24px;
}

.hotel-search__button {
  position: relative;
  z-index: 5;
  padding: 30px 10px;
  width: 100%;
}

.hotel-search__button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.hotel-search__form {
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* Button */

.button {
  display: block;
  border: none;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-transform: inherit;
  color: var(--basic-white);
  cursor: pointer;
}

.button--brown {
  background-color: var(--basic-brown);
}

.button--brown:hover,
.button--brown:focus {
  background-color: var(--middle-brown);
}

.button--brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-brown);
}

.button--blue {
  background-color: var(--accent-color);
}

.button--blue:hover,
.button--blue:focus {
  background-color: var(--middle-blue);
}

.button--blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-blue);
}

/* Search form */

.search-form {
  padding: 55px;
  box-sizing: border-box;

  text-align: left;
  background-color: var(--basic-white);
}

.search-form__block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 29px;

  color: var(--basic-black);
  font-weight: 700;
}

.search-form__label {
  display: block;
  width: 132px;
}

.search-form__label--children {
  width: 65px;
}

.seacrh-form__input {
  width: 326px;
  height: 38px;
  padding: 0 10px;
  font: inherit;
  text-transform: inherit;

  background-color: var(--basic-grey);
  border: none;
}

.seacrh-form__input:hover {
  background-color: var(--gallery-grey);
}

.seacrh-form__input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--mercury-grey);
  outline-offset: -2px;
}

.search-form__calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  border: none;
  background-color: var(--basic-grey);
  cursor: pointer;
}

.search-form__calendar:focus {
  outline: 2px solid var(--mercury-grey);
  outline-offset: -2px;
}

.search-form__calendar-icon:hover path,
.search-form__calendar-icon:focus path {
  fill: var(--basic-black);
}

.search-form__calendar-icon:active path {
  fill: var(--accent-color);
}

.search-form__input-number {
  padding: 0;
  width: 38px;

  text-align: center;
}

.search-form__quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 226px;
}

.search-form__button {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;

  background-color: var(--basic-grey);
  border: none;

  font: inherit;
  cursor: pointer;
}

.search-form__button:focus {
  outline: 2px solid var(--mercury-grey);
  outline-offset: -2px;
}

.search-form__button::before,
.search-form__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--silver-chalice-grey);
  transform: translate(-50%, -50%);
}

.search-form__button--minus::before {
  width: 12px;
  height: 3px;
}

.search-form__button--plus::before,
.search-form__button--plus::after{
  width: 11px;
  height: 3px;
}

.search-form__button--plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.search-form__button:hover::before,
.search-form__button:hover::after {
  background-color: var(--basic-black);
}

.search-form__button:active::before,
.search-form__button:active::after {
  background-color: var(--accent-color);
}

.search-form__submit {
  margin-top: 54px;
  padding: 16px 10px;
  width: 100%;
}

.search-form__submit:focus {
  outline: 2px solid var(--mercury-grey);
  outline-offset: -2px;
}

.map {
  position: relative;
  height: 593px;
  overflow: hidden;
}

/* Filters form */

.filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  margin: 0;
  width: 1200px;
  min-height: 217px;
  padding: 31px 73px 0;
  line-height: 21px;

  color: var(--basic-white);
  background-color: var(--submarine-grey);
  background-image: url("../img/bg-form.jpg");
}

.filters-form__left-wrapper {
  display: flex;
}

.filters-form__fieldset {
  width: 255px;
  margin: 0;
  padding: 0;
  border: none;
}

.filters-form__legend {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters-form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  line-height: 21px;
}

.filters-form__item {
  margin: 25px 0;
}

.filters-form__checkbox-label {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
}

.filters-form__checkbox + .filters-form__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/icon-checkbox-off.svg");
  background-repeat: no-repeat;
}

.filters-form__checkbox:focus + .filters-form__checkbox-label::before {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.filters-form__checkbox:checked + .filters-form__checkbox-label::before {
  width: 27px;
  background-image: url("../img/icons/icon-checkbox-on.svg");
}

.filters-form__checkbox:disabled + .filters-form__checkbox-label {
  color: var(--dark-grey);
  cursor: auto;
}

.filters-form__checkbox:disabled + .filters-form__checkbox-label::before {
  background-image: url("../img/icons/icon-checkbox-disabled-off.svg");
}

.filters-form__checkbox:checked:disabled + .filters-form__checkbox-label::before {
  background-image: url("../img/icons/icon-checkbox-disabled-on.svg");
}

.filters-form__right-wrapper {
  justify-self: end;
}

.filters-form__price {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 4px 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filters-form__price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
}

.filters-form__label {
  display: block;
  width: 40%;

  padding: 0 4px 0 23px;
  text-align: right;
}

.filters-form__text-input {
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 2px;
  max-width: 49%;

  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.filters-form__text-input:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.filters-form__range {
  position: relative;
  margin: 21px 0 32px;
}

.filters-form__range-scale {
  height: 2px;
  background-color: var(--transparent-white);
}

.filters-form__range-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.filters-form__range-handle {
  position: absolute;
  top: -10px;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--silver-chalice);
  cursor: pointer;
  box-shadow: 0 2px var(--silver-chalice);
}

.filters-form__range-handle:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.filters-form__range-handle--min {
  left: 0;
}

.filters-form__range-handle--max {
  left: 79%;
}

.filters-form__button {
  display: block;
  margin: 0 auto;
  padding: 5px 34px;

  font: inherit;
  text-transform: inherit;

  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);

  cursor: pointer;
}

.filters-form__button:hover,
.filters-form__button:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.filters-form__button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/* Catalog Grid */

.catalog-grid {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  column-gap: 29px;
  padding: 23px 73px 30px;

  border-bottom: 1px solid var(--mercury-grey);
}

/* Sorting */

.catalog__result-wrapper {
  padding-top: 7px;
}

.catalog__result {
  font-size: 21px;
  font-weight: 700;
}

.catalog__sorting-wrapper {
  display: flex;

  padding-top: 7px;
}

.catalog__sorting-text {
  margin: 0;
  margin-right: 40px;


  font-size: 12px;
  line-height: 18px;
}

.sort-type {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
}

.sort-type__item {
  margin-right: 33px;
  margin-bottom: 6px;
}

.sort-type__link {
  color: var(--transparent-black);

  border-bottom: 1px dashed var(--accent-color);
}

.sort-type__link--active,
.sort-type__link--active:hover,
.sort-type__link--active:focus,
.sort-type__link--active:active {
  color: var(--accent-color);

  border: none;
}

.sort-type__link:hover,
.sort-type__link:focus {
  color: var(--accent-color);

  border-bottom: 1px dashed var(--accent-color);
}

.sort-type__link:active {
  color: var(--basic-black);

  border: none;
}
.sort-type__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}


.sort-direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-direction__item {
  padding-left: 13px;
}

.sort-direction__link {
  display: block;
  width: 0;
  height: 0;
  border-left: 4.6px solid transparent;
  border-right: 4.6px solid transparent;
  border-bottom: 10px solid var(--silver-grey);
}

.sort-direction__link:not(.sort-direction__link--active):hover {
  border-bottom: 11px solid var(--basic-black);
}

.sort-direction__link:not(.sort-direction__link--active):active {
  border-bottom: 11px solid var(--accent-color);
}

.sort-direction__link--reverse {
  transform: rotate(180deg);
}

.sort-direction__link--active {
  border-bottom: 11px solid var(--accent-color);
}

.sort-direction__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/* Catalog */

.hotel__image-wrapper {
  margin: 0;
  padding-top: 7px;

  width: 135px;
  height: 90px;
}

.hotel__name {
  margin: 0;
  margin-bottom: 7px;
}

.hotel__name-link {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.hotel__name-link:hover,
.hotel__name-link:focus {
  color: var(--accent-color);
}

.hotel__name-link:active {
  color: var(--transparent-black);
}

.hotel__name-link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.hotel__description {
  display: grid;
  grid-template-columns: 110px 142px;
  column-gap: 6px;

  font-size: 14px;
  line-height: 21px;
}

.hotel__text {
  margin: 0;
  margin-bottom: 15px;
}

.hotel__button {
  padding: 3px 10px;

  font: inherit;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
}

.hotel__button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.hotel__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel__stars {
  max-width: 110px;
  height: 17px;

  margin-bottom: 47px;

  background-image: url("../img/icons/icon-star.svg");
  background-repeat: space;
}

.hotel__stars--five {
  width: 107px;
}

.hotel__stars--four {
  width: 89px;
}

.hotel__stars--three {
  width: 65px;
}

.hotel__stars--two {
  width: 41px;
}

.hotel__stars--one {
  width: 20px;
}

.hotel__rating-text {
  margin: 0;
  width: 100%;

  font-size: 14px;
  line-height: 21px;

  text-align: center;
  background-color: var(--basic-grey);
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 23px 0;

  background-color: var(--basic-white);
}

.page-footer--index {
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
  background-color: var(--slightly-transparent-white);
}

.page-footer__column {
  color: var(--basic-black);
}

.page-footer__column--contacts {
  padding-left: 73px;
}

.page-footer__column--copyright {
  padding-right: 73px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;

  text-align: center;
}

.page-footer__phone {
  font-size: 21px;
  font-weight: 700;

  text-align: center;
}

.page-footer__phone-link {
  color: var(--basic-black);

  cursor: pointer;
}

.page-footer__phone-link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  width: 156px;

  list-style: none;
}

.social-list__item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;
}

.social-list__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.page-footer__column--copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-copyright-text {
  margin-right: 8px;
}

.page-footer-copyright-link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.page-footer-copyright-icon:hover path,
.page-footer-copyright-icon:focus path {
  fill: var(--accent-color);
}

.page-footer-copyright-icon:active path {
  fill: var(--pale-slate-grey);
}



